GITHUB_ID="your_github_oauth_id"
GITHUB_SECRET="your_github_oauth_secret"
# On UNIX systems you can use `openssl rand -hex 32` or 
# https://generate-secret.vercel.app/32 to generate a secret.
AUTH_SECRET="your_auth_secret"